body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

.container p {
    display: flex;
    justify-content: center;
    font-size:25px;
}

button {
    background-color: rgba(255, 102, 242, 0.267);
    border: 5px solid #2075;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

#score {
    margin-bottom: 10px;
}

